/* REMOVING THE SEARCH ICON */
.auction-page > nav span:nth-child(1){
    display:  none;
}

.auction {
    margin: 0 0 0 .5rem;
}

.auction-overview-text {
    font-family: var(--font-1);
    font-weight: lighter;
    font-size: calc(var(--size-2) + .3rem);
}

.auction-page-desktop {
    display: none;
}

.auction-image-gliders {
    margin-top: var(--size-2);
    margin-bottom: var(--size-9);
    position: relative;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .auction-image-gliders::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
.auction-image-gliders {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.left-arrow, .right-arrow {
    position: absolute;
    z-index: 99;
    background-color: #ffffff5f;
    border-radius: 50%;
    filter: drop-shadow(0 2rem 3rem #00000076);
    padding: var(--size-2) var(--size-2);
    top: 20rem;
}

.left-arrow span svg, .right-arrow span svg {
    height: var(--size-2);
    width: var(--size-2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    left: var(--size-2);
}

.right-arrow {
    transform: rotateY(180deg);
    right: calc(var(--size-1) - .6rem);
}

.ellipse {
    position: absolute ;

    top: 35rem;
    left: 45%;
    right: 50%;

    display: flex;
}

:global(.ellipse-icon_svg) {
    height: var(--size-1);
    width: var(--size-1);
}

.auction-top-creators {
    font-family: var(--font-1) !important;
    font-family: lighter;
    font-size: var(--size-4);
    margin-bottom: var(--size-1);
}

/* MEDIA QUERIES */
@media(min-width: 50rem) {
    .auction-page-desktop {
        display: block;
        margin-bottom: var(--size-9);
    }

    .auction-overview-text {
        margin: 0 var(--size-6);
    }

    .arrow-auction {
        display: none;
    }

    .auction-image-gliders {
        height: 25rem;
        gap: 3%;
        margin-top: var(--size-9);
        margin-left: var(--size-6);
    }

    .ellipse {
        top: 55rem;
    }

    .auction-top-creators {
        margin-left: var(--size-6);
    }

    .auction-top-bids {
        display: flex;
        align-items: center;
        overflow: scroll;
        scroll-behavior: smooth;

        margin-bottom: 10rem;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .auction-top-bids::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .auction-top-bids {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

}