/* REMOVING THE SEARCH ICON */
.checkout-form-page > nav span:nth-child(1){
    display:  none;
}

.checkout-form-section {
    margin: var(--size-6) var(--size-9) var(--size-9) var(--size-9);
}


.checkout-form-page-sub-nav > nav {
    display: none;
}

.label {
    display: block;
    margin: var(--size-2) 0;

    font-family: var(--font-1);
    font-weight: lighter;
    font-size: var(--size-3);
    color: var(--color-5);
}

.input {
    width: 100%;
    height: var(--size-6);
    padding: var(--size-4) var(--size-2);

    background-color: var(--color-11);
    border: 1px solid var(--color-10);
    border-radius: var(--size-1);
    outline: none;

    font-family: var(--font-1);
    font-size: var(--size-2);
    color: var(--color-10);
}

.get-updates {
    margin-top: var(--size-1);
    display: flex;
    align-items: center;
}

.checkbox-label {
    font-family: var(--font-1);
    font-weight: lighter;
    font-size: calc(var(--size-2) - .2rem);
    color: var(--color-5);
}

.footer {
    margin: var(--size-4) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > * {
    font-family: var(--font-1);
    font-size: var(--size-2);
}

.redirect-to-cart {
    margin-top: var(--size-3);
    color: var(--color-1);
}

.product-details {
    display: none;
}

/* MEDIA QUERIES */
@media(min-width: 50rem) {
    /* Removing the page routes */
    .checkout-form-page-sub-nav > div {
        display: none;
    }
    /* Adding the shopping navigation */
    .checkout-form-page-sub-nav > nav:nth-child(3) {
        display: flex;
    }

    .input {
        width: 35rem;
    }

    .checkout-form-section {
        display: flex;
        gap: 5%;
        justify-content: center;
        margin: 0 var(--size-9);
    }

    .checkout-form {
        margin-top: var(--size-4);
        margin-left: var(--size-8);
    }

    .redirect-to-cart {
        display: none;
    }

    .product-details {
        display: block;
    }

    .product-details > div:nth-child(1) {
        margin: calc(var(--size-9) + var(--size-5)) 0 var(--size-5) 0;
    }

    .product-details > div:nth-child(2) {
        border-top: 1px solid var(--color-14);
        width: 100%;
    }
}