

/* REMOVING THE SEARCH ICON */
.checkout > nav span:nth-child(1){
    display:  none;
}

/* CARE FULLY READ THIS SECTION ALTHOUGH THE CLASS NAMES CAN BE A LENGHTY */
.checkout-section-items-statistics {
    box-shadow: 3rem 0 2rem rgba(0, 0, 0, 0.358);
}

/* Up Arrow Icon */
.checkout-section-items-statistics > span {
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout-section-items-statistics > span svg {
    transform: rotate(90deg);
}
/* END */

.checkout-section-items-statistics, .checkout-section-items-grand-total {
    font-family: var(--font-1);
}

.checkout-section-items-stats {
    padding: var(--size-3) var(--size-1);
}

.checkout-section-grand-total {
    color: var(--color-5);
    font-size: var(--size-3);
    display: flex;
    justify-content: space-between;
}

.checkout-section-grand-total-amount {
    color: var(--color-1);
    font-weight: 500;
}

.checkout-section-items-grand-total {
    border-top: 1px dashed var(--color-5);
}

.checkout-section-items-grand-total > button {
    position: relative;
    top: calc(var(--size-1) - var(--size-7));
    left: 50%;
    transform: translate(-50%, 50%);
}

.checkout-section-grand-total {
    padding: var(--size-3) var(--size-1);
}

.continue-shopping {
    display: block;
    text-align: center;
    color: var(--color-1);

    font-size: var(--size-3);
    padding-bottom: var(--size-4);
}