/* REMOVING THE SEARCH ICON */
.payment-page > nav span:nth-child(1){
    display:  none;
}

.payment-page-sub-nav > nav {
    display: none;
}

.payment {
    margin: var(--size-6) var(--size-1);
}

.secure {
    display: flex;
    align-items: center;
    gap: 2%;

    margin: var(--size-4) var(--size-1);
}

.secure-text {
    font-family: var(--font-1);
    font-size: var(--size-2);
    color: var(--color-5);
}

.footer {
    font-family: var(--font-1);
    margin-bottom: var(--size-4)
}


/* MEDIA QUERIES */
@media(min-width: 50rem) {
    .payment-page {
        margin: var(--size-9);
        position: relative;
    }

    /* Removing the page routes */
    .payment-page-sub-nav > div {
        display: none;
    }
    /* Adding the shopping navigation */
    .payment-page-sub-nav > nav:nth-child(3) {
        display: flex;
    }

    .secure {
        position: absolute;
        right: 0;
        width: 15rem;
    }

    .payment {
        display: flex;
        gap: 5%;
        justify-content: center;
        margin-top: 10rem;

        position: relative;
    }

    .footer{
        width: 50%;
        display: flex;
        justify-content: center;
        button {
            width: 30%;
            margin: auto;
        }
    }

}
