.product-page-results {
    font-family: var(--font-4);
    font-size: var(--size-2);
    font-weight: lighter;
    color: var(--color-5);

    margin-left: var(--size-1);
    margin-top: var(--size-4);
}

.see-more, .product-see-more {
    display: none;
}



/* MEDIA QUERIES */
@media(min-width: 50rem) {
    .product-section {
        display: flex;
    }

    .products {
        width: 75%;

        display: flex;
        flex-wrap: wrap;
    }

    .product-page > div:nth-of-type(1), .product-page button,
    .product-page footer {
        display: none;
    }

    .product-page-results {
        display: none;
    }

    .product-see-more {
        display: block !important;
        margin: var(--size-9) auto;

        background-color: transparent;

        font-family: var(--font-1);
        font-size: var(--size-2);
        color: var(--color-1);

        outline: none;
        padding: var(--size-1) var(--size-4);
        border: 1px solid var(--color-1);
         border-radius: var(--size-1);
    }
}