.filter {
    background-color: var(--color-3);
    box-shadow: var(--size-1) var(--size-1) var(--size-3) 0 rgba(0, 0, 0, 0.10);
    border-radius: var(--size-1);

    padding: var(--size-2) var(--size-1);
    margin: calc(var(--size-1) - .2rem);

    display: flex;
    justify-content: space-between;
}

.fiter-product, .sort-product {
    background-color: transparent;
    border: none;

    font-family: var(--font-1);
    font-weight: lighter;
    font-size: var(--size-2);
}

.fiter-product > *, .sort-product > * {
    font-family: var(--font-1);
    font-weight: lighter;
    font-size: var(--size-2);
}

.filter-desktop {
    display: none;
}

/* MEDIA QUERIES */
@media(min-width: 50rem) {
    .filter {
        display: none;
    }

    .filter-desktop {
        display: flex;
        align-items: center;
        margin: var(--size-7);
    }

    .fiter-products {
        background-color: var(--color-13);
        display: flex;
        align-items: center;

        border-radius: var(--size-2);

        height: var(--size-9);
        margin-right: var(--size-9);
    }

    .fiter-products-input {
        outline: none;
        border: none;
        background-color: var(--color-13);

        font-family: var(--font-1);
        font-size: calc(var(--size-1) + .5rem);

        width: 100%;
    }

    .sort-products {
        background-color: var(--color-3);
        box-shadow: var(--size-1) var(--size-1) var(--size-3) 0 rgba(0, 0, 0, 0.10);
        border-radius: var(--size-1);

        padding: var(--size-2);
        margin: calc(var(--size-1) - .2rem);

        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sort-results, .sort-product-desktop {
        font-family: var(--font-1);
        font-size: var(--size-2);
        color: var(--color-7);
    }

    .sort-product-desktop {
        background-color: transparent;
        outline: none;
        border: 1px solid var(--color-7);
        border-radius: var(--size-1);

        padding: var(--size-1);
    }
}