.shopping-nav-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--color-1);
    margin: var(--size-1) auto;
    padding: var(--size-1) var(--size-2);

    border-radius: var(--size-5);
    position: relative;
    width: 80%;
}

.tabs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
	cursor: pointer;
    width: 100%;

    a {
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.tabs__indicator {
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: var(--color-3);
	border-radius: 100px;
	overflow: hidden;
	transition: translate 0.25s;
	pointer-events: none;
}

.tabs__track {
    display: grid;
	grid-template-columns: 1fr 1fr;
    color: var(--color-1) !important;
	width: 200%;
    font-weight: bold;
	transition: translate 0.25s;
}


.shopping-nav-label {
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.25s;
    border-radius: 100px;
    font-family: var(--font-1);
    font-size: var(--size-3);
    /* clip: rect(0, 0, 0, 0); Bard what this property id for in input checkbox */
}

.shopping-nav-mobile-input:nth-of-type(2) {
    right: 0;
}

.translate__tabs__indicator {
    translate: 100% 0;
}
.translate__tabs__track {
    translate: -50% 0;
}

.shopping-nav-desktop {
    display: none;
}


/* MEDIA QUERIES */
@media(min-width: 50rem) {
    .shopping-nav-mobile {
        display: none;
    }

    .shopping-nav-desktop {
        display: flex;
        justify-content: center;
    }
    
    .shopping-nav-lists {
        margin-top: var(--size-5);
        display: flex;
        justify-content: center;
        gap: 8%;
        border-bottom: 1px solid var(--color-14);
        width: 60rem;
    }

    .shopping-nav-li {
        font-family: var(--font-1);
        font-size: var(--size-4);
        color: var(--color-14);
        list-style: none;
        position: relative;
    }

    .shopping-nav-li::before {
        position: absolute;
        color: var(--color-1);
        top: 0px;
        left: 0px;
        overflow: hidden;
        content: attr(alt);
        transition: all 0.3s;
        transform: scale(0.8);
        opacity: 0;

    }

    .shopping-nav-li:hover::before {
        transform: scale(1);
        opacity: 1;
    }

    .highlight-desktop {
        border-bottom: 1px solid var(--color-1);
        color: var(--color-1);
    }
}
