
/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-size: 62.5%;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}


/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}


/* FONT DECLARATIONS */
@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi-Bold.woff), format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi-Light.woff), format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi-Medium.woff), format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Bold.woff), format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Light.woff), format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url(/fonts/ClashDisplay-Medium.woff), format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "STIX Two Text";
  src: url(/fonts/STIXTwoText-Bold.woff2), format('woff2');
  font-weight: bold;
  font-style: normal;
} 

@font-face {
  font-family: "STIX Two Text";
  src: url(/fonts/STIXTwoText-Regular.woff2), format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "STIX Two Text";
  src: url(/fonts/STIXTwoText-Medium.woff2), format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Light.ttf), format('ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Bellefair';
  src: url(/fonts/Bellefair-Regular.ttf), format('ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Baskervville';
  src: url(/fonts/Baskervville-Regular.ttf), format('ttf');
  font-weight: lighter;
}

/* CSS VARIABLES */

:root {

  --font-1: "Satoshi";
  --font-2: "Clash Display";
  --font-3: "STIX Two Text";
  --font-4: 'Poppins';
  --font-5: 'Bellefair';
  --font-6: 'Baskervville';

  /* COLOR PALLETE */

  --color-1: #272727;
  --color-2: #28A814;
  --color-3: #ffffff;
  --color-4: #006CA2;
  --color-5: #999EA5;
  --color-6: #E27625;
  --color-7: #333;
  --color-8: #E2E2E2;
  --color-9: #F6F4F4;
  --color-10: #616161;
  --color-11: #F2F2F2;
  --color-12: #9B62EC;
  --color-13: #F4F2F2;
  --color-14: #D9D9D9;

  /* SIZES */

  --size-1: 1rem;
  --size-2: 1.5rem;
  --size-3: 2rem;
  --size-4: 2.5rem;
  --size-5: 3rem;
  --size-6: 3.5rem;
  --size-7: 4rem;
  --size-8: 4.5rem;
  --size-9: 5rem;
}